<h1>All posts</h1>
<br>
<div>
  <% @posts.each do |post| %>
    <span><%= post.created_at.strftime('%B %d, %Y, %l:%M%P') %></span>
    <h4><%= link_to post.title, post %></h4>
    <div><%= post.summary %></div>
    <br>
  <% end %>
</div>
